body{
    font-family: Arial, sans-serif;
    margin: 0;
    color: blue
}


/*Styling the Header*/
.header-section{
    display:flex; /* the magic line */
    justify-content: space-between; /* pushes items to opposite ends */
    align-items: center; /*centers items vertically */
    padding: 10px 10%;
    background-color: #333;
    color: white;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover{
    color: #ff6b81;
    text-decoration: underline;
}

.cta-button{
    background-color: #ff4757;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s; /*Makes the change smooth, not instant */

}


.cta-button:hover{
    background-color: #ff6b81;
    transform: translate Y(-3px); /*lifts the button up slightly */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


/*Styling the Main Content*/
.my-biography{
    background-color: #ffffff;
    padding: 40px; /* space inside */
    margin: 20px auto; /* space outside; 'auto' centers the box */
    width: 80%; /* make the box narrower than the screen */
   border-radius: 10px;
  
}

.sidebar{
    background-color: #2ecc2c;
    color: white;
    padding: 30px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}



/*Styling the Footer */
.foother-section{
    background-color: #111;
    color: #aaa;
   padding: 30px;
    text-align: center;
    font-size: 12px;
}



